@import '../../../../styles/base.scss';

.plans {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.switch {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-top: 5%;
    justify-content: center;

    .toggleContainer {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        position: relative;

        .dot1 {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            cursor: pointer;
            background-color: $color-neutral-white;
            left: 10px;
            border: none;
            outline: none;
        }

        .dot2 {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            cursor: pointer;
            background-color: $color-neutral-white;
            left: 55px;
            border: none;
            outline: none;
        }

        .dotNonActive {
            display: none;
        }

        .oval {
            height: 30px;
            width: 80px;
            background-color: $color-primary-marine-blue;
            border-radius: 25%/100%;
            display: inline-block;  
        }
    }
}